* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  font-family: sans-serif;
}

#navBar {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid grey;
  color: white;
  background-color: gray;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.TotalData {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  box-shadow: 1px 1px 5px grey;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 2px solid grey;
  height: 6rem;
  width: 6rem;
  margin: 0 1rem;
}
#active {
  color: red;
}
#recovered {
  color: green;
}

#showData {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
  overflow: auto;
  width: 100%;
}

table {
  margin: 1rem auto;
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

th,
td {
  color: rgb(88, 5, 5);
  font: 14px Verdana;
  font-weight: bold;
  border: solid 5px white;
  padding: 1rem;
}
td {
  background-color: #f0f5f1;
}
td:hover {
  background-color: gray;
}
th {
  font-weight: bold;
  font-size: larger;
}

tr:first-child:hover {
  background-color: #f2cbce;
}

.col-12 {
  width: 100%;
}

#chartContainer {
  height: 300px; width: 70%; margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }

  #chartContainer {
    width: 100%;
    font-size: medium;
  }
  .container {
    margin: 19px;
  }
  th {
    font-size: medium;
  }
  td {
    padding: 9px 0px;
  }
}
